
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
background-image: url("/assets/heaven.jpg");
min-width: 100%;
background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.container{
  border-radius: 20px;
  padding-left: 10px;
  /* padding-top: 10px;  /*  <!--- make header and container together!!--> */
  max-width: 980px;
  margin: 0 auto;
  min-height: 960px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}
.thumb{
  max-width: 9em;
  max-height: 6.3em;
}

.fearture{
  min-width: 11em;
  min-height: 6em;
  max-width: 11em;
  max-height: 6em;
}

.fearture-agents{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    margin: 40px 10px 10px 10px;
    max-width: 11em;
    min-width: 11em;
    max-width: 11em;
    min-height: 11em;
}

.fearture-images{
    border-radius: 20px;
    margin: 40px 10px 10px 10px;
    max-width: 11em;
}

.show{

}

nav{
  margin: 0 auto;
  max-width: 980px;
  font-size: 22px;
  background-color: white;
  text-align: center;
  text-decoration: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}

a{
  margin-left: 10px;
  text-decoration: none;
}

 a:hover{

  color:red;
}

.login{
  margin-bottom:50px;
  text-align: center;
  font-size: 22px;
}

.index{
display: flex;
flex-wrap: wrap;  /*<!--- THIS ONE MAKES IS RESPONSIVE -->*/
}


.propertycard{
border-radius: 10px;
border: 1px solid gray;
padding: 10px;
margin: 5px;
text-align: center;
background-color:white;
max-height: 160px;
min-height: 160px;
min-width: 180px;
max-width: 180px;

}

h1{
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

p{
  font-family: 'Kanit', sans-serif;
}

li{
  font-family: 'Kanit', sans-serif;
  font-size: 22px;

}

.formformat{
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
}

.btnlogin{
  margin-top: 42px;
}

.login_text{
  text-align: center;
  font-size: 23px;
}

.btn_user_edit{
  margin-left:5px;
}

.show-agents{
  font-family: 'Comfortaa', cursive;
}

.gallery{
  max-width: 200px;
  min-height: 200px;
  max-height: 160px;
  min-height: 200px;
}

.gallerycard{
border-radius: 10px;
border: 1px solid gray;
padding: 5px;
margin: 5px;
background-color:white;
max-height: 160px;
}


.ownerpropertycard{
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color:white;
  max-height: 160px;

}
