body{
background-color: grey;
}

.container{
  border-radius: 20px;
  padding-left: 10px;
  /* padding-top: 10px;  /*  <!--- make header and container together!!--> */
  max-width: 980px;
  margin: 0 auto;
  min-height: 960px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}
.thumb{
  max-width: 9em;
}

.fearture{
  max-width: 11em;
}

.show{

}

nav{
  margin: 0 auto;
  max-width: 980px;
  font-size: 22px;
  background-color: white;
  text-align: center;
  text-decoration: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}

a{
  margin-left: 10px;
  text-decoration: none;
}

 a:hover{

  color:red;
}

.login{
  text-align: center;
  font-size: 22px;
}

.index{
display: flex;
flex-wrap: wrap;  /*<!--- THIS ONE MAKES IS RESPONSIVE -->*/
}

.propertycard{
border-radius: 10px;
border: 1px solid gray;
padding: 10px;
margin: 5px;
text-align: center;
background-color:white;
}

h1{
  text-align: center;
}

li{
  font-size: 22px;

}

.formformat{
  font-size: 22px;
}
