<h1>Western Suburb Agents</h1>

<div class="index">
  <% @agents.each do |agent| %>
  <div class="propertycard">
    <p> <%= agent.name %> <%= agent.surname %></p>

    <%= link_to cl_image_tag(agent.image, :class => 'thumb'), agent %>
  </div>
  <% end %>
<div>
